<!DOCTYPE html>

<html>

<head>

    <style>

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}

        html,
        body {
            height: 100%;
        }

        .page {
            height: 27.5cm;
        }

        .content {
            min-height: 90%;
        }

       table,  .paragraph {
            padding: 10px;
            font-size: 9px;
        }

        .footer {
            height: 20px;
            padding: 10px;
            font-size: 12px;
        }

        .page-num {
            float: right;
        }

        .column {
            float: left;
            width: 50%;
        }
    </style>

</head>

<body>

    <div class="page">
        <div class="content">

            <div class="column">

                <p class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </p>

                <p class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </p>

                <table>
                    <tr>
                        <td>
                            (a)
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing
                        </td>
                    </tr>
                    <tr>
                        <td>
                            (a)
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing
                        </td>
                    </tr>
                    <tr>
                        <td>
                            (a)
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        (a)
                                    </td>
                                    <td>
                                        Lorem Ipsum is simply dummy text of the printing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        (a)
                                    </td>
                                    <td>
                                        Lorem Ipsum is simply dummy text of the printing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        (a)
                                    </td>
                                    <td>
                                        Lorem Ipsum is simply dummy text of the printing
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        (a)
                                    </td>
                                    <td>
                                        Lorem Ipsum is simply dummy text of the printing
                                    </td>
                                </tr>
                            </table>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            (a)
                        </td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing
                        </td>
                    </tr>
                </table>

            </div>

            <div class="column">

                <p class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </p>

                <p class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </p>

            </div>

        </div>
    </div>
   
    <div class="page">
        <div class="content">

            <div class="column">

                <p class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </p>

                <p class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </p>

            </div>

            <div class="column">

                <div class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </div>

                <div class="paragraph">

                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like
                    Aldus PageMaker including versions of Lorem Ipsum.

                </div>

            </div>

        </div>
    </div>

    <script>

        class Paragraph {

            render() {

            }
        }

        const footer = (e) => {
            e.innerHTML +=
                    `<div class="footer">
            <div>
                <hr>
                <span>
                    Contract ID: [[CONTRACT_ID]]
                </span>
                <span class="page-num">
                    Page: [[PAGE]]
                </span>
            </div>
        </div>`
        }

        pages = document.querySelectorAll('.page')
        pages = [...pages]
        pages.forEach(page => footer(page))

    </script>

</body>

</html>